body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

h1 {
    color: black;
    margin-left: 19rem;
    margin-top: 6rem;
}

#myForm {
    max-width: 39.8rem;
    margin: 3% 15rem;
    margin-left:37%;
    padding: 2rem;
    width: 40%;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

#myForm  label {
    display: block;
    margin-bottom: 1.2rem;
}

#myForm  input[type="text"],#myForm input[type="password"],
#myForm  input[type="date"] ,#username{
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

#myForm  input[type="button"],
#myForm  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 8.3rem;
    margin-top: 1rem;
}

#myForm  input[type="button"]:hover,
#myForm  button:hover {
    background-color: #555;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: -26px;
    margin-bottom: 15px;
  }
  #user_id
  {
    background-color: rgb(216, 214, 214);
  }  
  #ID
  {
    background-color: rgb(216, 214, 214);
  }
  #status
{
    color: green;
    font-size: 20px;
    margin-left: 72%;
    margin-top: 3rem;
}
  