body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: #666;
    margin-left: 17rem;
    text-align: center;
}

#delete {
    text-align: center;
    margin-top: 2rem;
    margin-left: 10rem;
}

input[type="submit"], .cancel {
    background-color: #333;
    color: #fff;
    padding: 10px 18px; /* Adjust the padding to achieve the desired size */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1rem;
    margin-left: 8rem;
    margin-top: 1rem;
    text-decoration: none;
}
